@import '../node_modules/rfs/scss';

#carousel-header {
  height: 80px;
  background-color: $bleu;
  margin-top: 100px;
}

.text-carousel-header {
  padding: 25px 0 0 20px;
  color: white;
  clip: auto;
}

.carousel-indicators {
  width: 50%;
  position: absolute;
  left: 55%;
  top: 30%;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.title-carousel{
    text-transform: uppercase;
    padding-right: 20px;
    letter-spacing: 2px;
    font-size: 20px;
}

.more{
  color:white;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .title-carousel{
    padding-right:3px;
    letter-spacing: 0px;
    font-size: 15px;
  }
  .carousel-indicators {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 60%;
  }
}
// Medium devices (tablets, 768px and up)
@media screen and (max-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media screen and (max-width: 1024px) {
}
