@import '../node_modules/rfs/scss';

#carousel-header {
  height: 80px;
  background-color: $bleu;
  margin-top: 100px;
}

.text-carousel-header {
  padding: 25px 0 0 20px;
  color: white;
}

.carousel-indicators {
  width: 50%;
  position: absolute;
  left: 55%;
  top: 30%;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.title-carousel{
    text-transform: uppercase;
    padding-right: 20px;
    letter-spacing: 2px;
    @include font-size(20px);
}