.myNav {
  height: 80px;
  padding: 0 7em 0 7em;
}

.brand-name {
  font-size: 25px;
}

.brand-name {
  padding-left: 20px;
  text-transform: uppercase;
  color: grey;
}

.search-bar {
  width: 300px !important;
}
