.section-blue{
    background-color: $bleu;
}

.title-access{
    color:white;
    letter-spacing: 2px;
    font-weight: lighter;
}

.icon-access{
    height:100px;
}

.text-access{
    color:white;
    margin-top: 15px;
}

