@import 'navbar';
@import 'config';
@import 'carousel';
@import 'footer';
@import 'research';
@import 'highlights';
@import '../node_modules/rfs/scss';
@import 'news';
@import 'events';
@import 'quickaccess';
*{
    margin:0;
}
html,body {
    background-color: $bg-grey;
    min-height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.color-blue{
    color: $bleu;
}

.color-green{
    color: $vert;
}

.color-grey{
    color: $gris;
}

.see-all{
    color:black;
    text-decoration: underline;
}

.icon{
    height:20px;
    width:20px;
    margin-right: 3px;
}